<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1 style="text-align: center">List Category</h1>
    <a style="margin-left: 1px" class="btn btn-primary" href="/categories/create">Create</a>
    <table style="border-collapse: collapse; border: 1px" class="table table-hover">
        <tr style="margin-top: 500px">
            <th>#</th>
            <th>Name</th>
            <th colspan="1"></th>
        </tr>
        <tr th:each="l,lStat : ${list}">
            <td th:text="${l.getId()}"></td>
            <td th:text="${l.getName()}"></td>
            <td><a class="btn btn-warning"
                   th:href="@{/categories/{id}/edit(id=${l.getId()})}">Edit</a></td>
        </tr>
        <tr>
            <td colspan="3">
            <div style="display: flex; justify-content: flex-end;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, result + 1)}">
                            <a class="page-link" th:href="@{/categories/category/{pageNum}/10(pageNum=${pageNum})}" th:text="${pageNum}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </td>
        </tr>
    </table>

    <a class="btn btn-info" href="/products/list/1/10">Back to list</a>
</div>
</body>
</html>